<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/weather_music_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/weather_music_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeatherMusic"
  >
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service
            android:name=".service.MusicPlayService"
            android:foregroundServiceType="mediaPlayback" />
    </application>
    <!-- 网络权限（调用高德API必须） -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 网络状态权限（后续判断网络用） -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 基础定位权限 -->
    <!-- 定位权限（二选一即可，FINE精度更高） -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 可选：粗略定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- 适配Android 13+（API 33+）：仅读取音频权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <!-- 适配Android 12及以下：外部存储读取权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <!-- Android 14+ 媒体播放前台Service必需权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <!-- 兼容低版本（可选，Android 12-13） -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
</manifest>